@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: #011E18;
}

html,
body,
header,
.jarallax {
    height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
        height: 600px;
    }
}

.view{
    background-image: url('../img/mainBanner.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-attachment: scroll;
}

.mainText{
    color: #011E18;
}

.developer .navbar, .legal .navbar {
    background-color: #3A879B;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.5rem;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    transition: .35s;
    font-weight: 500;
}

.card {
    font-weight: 400;
    height: 350px;
    color: #011E18;
    border: 1px solid #3A879B;
    box-shadow: none;
    background-color: transparent
}

.developer .progress-bar {
    height: .4rem;
    background-color: #3A879B;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.md-pills .nav-link.active {
    color: #3A879B;
}

.md-pills .nav-link.active,
.md-pills .show>.nav-link {
    background-color: transparent;
    box-shadow: none;
}

.md-pills .nav-link.active:hover {
    box-shadow: none;
}

.md-pills .nav-link:hover {
    background-color: transparent;
}

.display-2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
}

.developer .streak1 {
    background: #3A879B;
    height: 30px;
}

.developer mark {
    padding: 0.4rem 4rem;
    background-color: #3A879B;
    letter-spacing: 5px;
}

.developer .btn-floating {
    background-color: #3A879B;
    margin-top: 6rem;
}

.custText{
    font-weight: 600;
}

.bq-custome{
    border-left: 3px solid #3A879B;
}

.container-custome{
    max-width: 1600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.carousel .carousel-control-next-icon {
    background-image: url(../img/arrow-right-solid.svg);
}

.carousel .carousel-control-prev-icon {
    background-image: url(../img/arrow-left-solid.svg);
}
